<%- include('../components/head.ejs') %>

    <link rel="stylesheet", href="/css/forms.css">
    <link rel="stylesheet", href="/css/auth.css">
</head>

<body>
    <%- include('../components/navigation.ejs') %>

    <main>
        <form action="/login" method="POST" class="login-form">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input class="<%= errorMessage.find(error => error.param === 'email') ? 'invalid' : '' %>" type="email" name="email" id="email" value="<%= oldInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input class="<%= errorMessage.find(error => error.param === 'password') ? 'invalid' : '' %>" type="password" name="password" id="password" value="<%= oldInput.password %>">
            </div>

            <button type="submit" class="btn">Login</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <%- include('../components/validation.ejs') %>
        </form>
        <div class="centered">
            <a href="/reset">Reset Password</a>
        </div>
    </main>

<%- include('../components/end.ejs') %>