<%- include('../components/head.ejs') %>

    <link rel="stylesheet", href="/css/forms.css">
    <link rel="stylesheet", href="/css/auth.css">
</head>

<body>
    <%- include('../components/navigation.ejs') %>

    <main>
        <form action="/login" method="POST" class="login-form">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email" value="<%= oldInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= oldInput.password %>">
            </div>

            <button type="submit" class="btn">Login</button>
            <% if (errorMessage.length) { %>
                <div class="user-message user-message--error"><%= errorMessage %></div>
            <% } %>
            <% if (successMessage.length) { %>
                <div class="user-message"><%= successMessage %></div>
            <% } %>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        </form>
        <div class="centered">
            <a href="/reset">Reset Password</a>
        </div>
    </main>

<%- include('../components/end.ejs') %>