<%- include('../components/head.ejs') %>

    <link rel="stylesheet", href="/css/forms.css">
    <link rel="stylesheet", href="/css/auth.css">
</head>

<body>
    <%- include('../components/navigation.ejs') %>

    <main>
        <form action="/reset" method="POST" class="login-form">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input  class="<%= errorMessage.find(error => error.param === 'password') ? 'invalid' : '' %>" type="email" name="email" id="email" value="<%= oldInput ? oldInput.email : null %>">
            </div>

            <button type="submit" class="btn">Reset Password</button>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <%- include('../components/validation.ejs') %>
        </form>
    </main>

<%- include('../components/end.ejs') %>