<%- include('../components/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../components/navigation.ejs') %>
    <main>
        <% if (cartProducts.length) { %>
            <ul class="cart__item-list">
                <% cartProducts.forEach(cart => { %>
                    <li class="cart__item">
                        <h1><%= cart.title %></h1>
                        <h2>Quantity: <%= cart.cartItem.quantity %></h2>
                        <form action="/cart-delete-item" method="POST">
                            <button class="btn" type="submit">Delete</button>
                            <input type="hidden" value="<%= cart.id %>" name="productId">
                        </form>
                    </li>
                <% }) %>
            </ul>
        <%} else {%>
            <h1>Nothing in Cart</h1>
        <% } %>

    </main>

<%- include('../components/end.ejs') %>