<%- include('../components/head.ejs') %>
</head>

<body>
    <%- include('../components/navigation.ejs') %>
    <main>
        <% if (orders.length) { %>
            <ul>
                <% orders.forEach(order => { %>
                    <li>
                        <h1># <%= order.id %></h1>
                        <ul>
                              <% order.products.forEach(product => { %>
                                  <li>
                                      <%= product.title %> (<%= product.quantity %>)
                                  </li>
                              <% }) %>
                        </ul>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <h1>Orders</h1>        
        <% } %>
    </main>

<%- include('../components/end.ejs') %>