<%- include('../components/head.ejs') %>
<link rel="stylesheet" href="/css/orders.css">
</head>

<body>
  <%- include('../components/navigation.ejs') %>
  <main>
    <% if (orders.length) { %>
      <ul class="orders">
        <% orders.forEach(order => { %>
          <li class="orders__item">
            <h1># <%= order.id %> - <a href="/invoice/<%= order.id %>">Invoice</a></h1>
            <ul class="orders__products">
              <% order.products.forEach(productOrder => { %>
                <li class="orders__products-item">
                  <%= productOrder.product.title %> (<%= productOrder.quantity %>)
                </li>
              <% }) %>
            </ul>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <h1>Orders</h1>
    <% } %>
  </main>

  <%- include('../components/end.ejs') %>